/* WHITE GRADIENT */
.white-Gradient{
    background-color: white;
}

.white-Gradient .Login-Text p{
    font-family: TahomaBold;
    font-size:25px;
}

.white-Gradient .username-input input{
    font-family: TahomaRegular;
    font-size:18px;
    color: #787878;
}

.white-Gradient .buttonSignIn button{
    color:white;
    font-family: TahomaBold;
    font-size:19px;
    background-color:#0151CB;
}


.white-Gradient .buttonSignIn button{
    color:white;
    font-family: TahomaBold;
    font-size:22px;
    background-color:#0151CB;
}
/* WHITE GRADIENT */