<div class="container-fluid p-0">
    <app-navigationbar></app-navigationbar>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-square-spin" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <div class="row gray-Gradient" style="height: 250px;">
        <div class="col-lg-10 col-md-11 text-center mx-auto mt-3 mb-5 white-Gradient">
            <p style="font-family: TahomaBold;font-size: 21px;margin-top: 73px;">Welcome To Extension Buyer</p>
        </div>
    </div>
    <app-footer></app-footer>
</div>