<div class="container-fluid p-0">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-square-spin" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <app-header></app-header>
    <app-navigationbar></app-navigationbar>
    <div class="row gray-Gradient">
        <div class="col-lg-10 col-md-11 mx-auto mt-3 mb-5 white-Gradient">
            <p-messages [(value)]="msgs"></p-messages>
            <div class="col-lg-9 col-md-9 mx-auto mt-3 mb-2">
			<div class="row mt-5">
			  <div class="col-lg-12 text-center">
				<h2>FORGOT PASSWORD</h2>
			  </div>
			</div>
                <form [formGroup]="credential" (ngSubmit)="onSubmit()">
                    <div class="row mb-4 mt-4">
                        <div class="col-lg-8 col-md-8 mx-auto mb-4 mt-4 username-input">
                            <input class="form-control h-100" type="password" formControlName="password"
                                placeholder="New Password" name="Fname" class="form-control"
                                [ngClass]="classForValidation('password')" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                            </div>
                            <div *ngIf="submitted && !f.password.errors && !f.confirmPassword.errors" class="valid-feedback">
                                <div>Password is correct</div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 mx-auto username-input">
                            <input class="form-control h-100" type="password" placeholder="Confirm Password" name="confirmPassword"
                                formControlName="confirmPassword" class="form-control"
                                [ngClass]="classForValidation('confirmPassword')" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                            <div *ngIf="submitted && !f.confirmPassword.errors && !f.password.errors" class="valid-feedback">
                                <div>Confirm Password Match</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 mt-4">
                        <div class="col-lg-2 button-clear">
                        </div>
                        <div class="col-lg-8 button-update">
                            <button class="btn btn-primary btn-lg w-100">SAVE</button>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>