/* WHITE GRADIENT */
.gray-Gradient{
    background-color: #F4F4F4;
}
.white-Gradient{
    background-color: white;
}

.white-Gradient .username-input input{
    font-family: TahomaRegular;
    font-size: 18px;
    color: #282828;
    background-color: #F4F8F9;
    border: unset;
}

.white-Gradient .button-clear button{
    color:black;
    font-family: TahomaRegular;
    font-size:18px;
    background-color:#FFFFFF;
}
.white-Gradient .button-update button{
    color:white;
    font-family: TahomaRegular;
    font-size:18px;
    background-color:#270D6E;
    float: right;
}
/* WHITE GRADIENT */