<div class="container-fluid p-0">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-square-spin" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <app-navigationbar></app-navigationbar>
    <div class="row gray-Gradient">
        <div class="col-lg-10 col-md-11 mx-auto mt-3 mb-5 white-Gradient">
            <div class="col-lg-9 col-md-9 mx-auto mt-3 mb-2">
                <p-messages [(value)]="msgs"></p-messages>
                <div class="row mt-3">
                    <div class="col-lg-6 col-md-6 profile-pic-container">
                        <img class="mt-3 mb-4 w-50 profile-pic" id="src" (click)="showModalDialog()"
                            src="{{src_Image | image100x100}}" />
                        <div class="edit-profile-text-container" (click)="showModalDialog()">
                            <i class="fa fa-plus"></i> Click to change your avatar
                        </div>
                    </div>
                </div>
                <form [formGroup]="data" (ngSubmit)="onSubmit()">
                    <div class="row mb-4 mt-4">
                        <div class="col-lg-6 col-md-6 username-input">
                            <input class="form-control h-100" type="text" formControlName="first_name"
                                placeholder="First name" name="Fname" class="form-control"
                                [ngClass]="classForValidation('fname')" />
                            <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                <div *ngIf="f.first_name.errors.required">First Name is required</div>
                            </div>
                            <div *ngIf="submitted && !f.first_name.errors" class="valid-feedback">
                                <div>First Name is correct</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 username-input">
                            <input class="form-control h-100" type="text" placeholder="Last name" name="Lname"
                                formControlName="last_name" class="form-control"
                                [ngClass]="classForValidation('lname')" />
                            <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                                <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                            </div>
                            <div *ngIf="submitted && !f.last_name.errors" class="valid-feedback">
                                <div>Last Name is correct</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 mt-4">
                        <div class="col-lg-6 username-input">
                            <input class="form-control h-100" type="text" placeholder="Email Address" name="email" disabled 
                                formControlName="email" class="form-control change" [ngClass]="classForValidation('email')" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                            <div *ngIf="submitted && !f.email.errors" class="valid-feedback">
                                <div>Email is correct</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 username-input">
                            <input class="form-control h-100" type="number" placeholder="Phone Number" name="phone_no"
                                data-inputmask="'mask': '+33 9 99 99 99 99'" formControlName="phone_no"
                                class="form-control" [ngClass]="classForValidation('phone_no')" />
                            <div *ngIf="submitted && f.phone_no.errors" class="invalid-feedback">
                                <div *ngIf="f.phone_no.errors.required">Phone Number is required</div>
                            </div>
                            <div *ngIf="submitted && !f.phone_no.errors" class="valid-feedback">
                                <div>Phone Number is correct</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 mt-4">
                        <div class="col-lg-6 username-input country-container">
                            <ngx-select-dropdown [(ngModel)]="location.country" [multiple]="false" (change)="selectionCountryChanged($event)"
                                [config]="config" [options]="dropdownOptions" [ngClass]="classForValidation('country')" id="country" formControlName="country"></ngx-select-dropdown>
                            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                <div *ngIf="f.country.errors.required">country is required</div>
                            </div>
                            <div *ngIf="submitted && !f.country.errors" class="valid-feedback">
                                <div>country is correct</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 username-input state-container">
                            <ngx-select-dropdown [(ngModel)]="location.state" [multiple]="false" (change)="selectionStateChanged($event)"
                                [config]="config1" id="state" [options]="dropdownOptions1" [ngClass]="classForValidation('state')" [disabled]="dis_state"
                                formControlName="state">
                            </ngx-select-dropdown>
                            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.state.errors.required">State is required</div>
                            </div>
                            <div *ngIf="submitted && !f.state.errors" class="valid-feedback">
                                <div>State is correct</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 mt-4">
                        <div class="col-lg-6 username-input city-container">
                            <ngx-select-dropdown [(ngModel)]="location.city" class="mt-5" [multiple]="false" (change)="selectionChanged($event)" id="city"  [disabled]="dis_city"
                                [config]="config2" [options]="dropdownOptions2" [ngClass]="classForValidation('city')"
                                formControlName="city">
                            </ngx-select-dropdown>
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">city is required</div>
                            </div>
                            <div *ngIf="submitted && !f.city.errors" class="valid-feedback">
                                <div>city is correct</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 username-input">
                            <input class="form-control h-100" type="text" placeholder="Address" name="address_line"
                                formControlName="address_line" class="form-control"
                                [ngClass]="classForValidation('address_line')" />
                            <div *ngIf="submitted && f.address_line.errors" class="invalid-feedback">
                                <div *ngIf="f.address_line.errors.required">Address is required</div>
                            </div>
                            <div *ngIf="submitted && !f.address_line.errors" class="valid-feedback">
                                <div>Address is correct</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 mt-4">
                        <div class="col-lg-6 col-md-6 username-input"> <input class="form-control h-100" type="text"
                                placeholder="Zip Code" name="zip_code" formControlName="zip_code" class="form-control"
                                [ngClass]="classForValidation('zip_code')" />
                            <div *ngIf="submitted && f.zip_code.errors" class="invalid-feedback">
                                <div *ngIf="f.zip_code.errors.required">Zip code is required</div>
                            </div>
                            <div *ngIf="submitted && !f.zip_code.errors" class="valid-feedback">
                                <div>Zip code is correct</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 mt-4">
                        <div class="col-lg-4 button-clear">
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 button-update">
                            <button class="btn btn-primary btn-lg w-75">UPDATE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p-messages [(value)]="lmsgs"></p-messages>
    <h2>Edit Profile Picture</h2>
    <p class="mb-1">Max.of 2mb. Recommended size: 280px 280px</p>
    <p-fileUpload name="demo[]" url="http://trigvent.com/extbuyer/api/upload" (onUpload)="onUpload($event)" multiple=false fileLimit=1
        accept="image/*" maxFileSize="1000000" previewWidth="100" chooseLabel="Click or drag here"
        uploadLabel="Set as profile pic" showCancelButton>
        <!-- <ng-template pTemplate="content">
			<ul *ngIf="uploadedFiles.length">
				<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
			</ul>
		</ng-template> -->
    </p-fileUpload>
</p-dialog>